@CHARSET "UTF-8";

/* reset */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-spacing: 0px;
}

/* allgemeines */
body {
	background: #feffff; /* old browsers */
	background: -moz-linear-gradient(left, #feffff 0%, #d2ebf9 100%); /* firefox */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* webkit */

	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 100.01%;
	line-height: 120%;
}

/* Struktur und Positionierung */
#content {
	position: relative;
	top: 40px;
	width: 60em;
	margin: auto;
}

#header {
	font-size: 0.8em;
	text-align: right;
	padding-right: 0.5em;
}

#tasks_container {
	width: 60%;
}

#details_container {
	width: 40%;
}

#tasks, #details {
	padding: 2em;
}

div.tabs, div.horizontalBox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

div.tabs > div.spacer {
	border-bottom: 1px solid #CCC;
	width: 0.3em;
}

div.tabs > :nth-last-child(1) {
	box-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

div.tab {
	border: 1px solid #CCC;
	
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	
	background: #CCC;
	color: white;
	font-weight: bold;
	padding: 0.1em 0.5em;
}

div.tab:hover {
	background: white;
	color: black;
}

div.tab.selected {
	background: white;
	color: black;
	border-bottom-width: 0px;
}

div.tab.dropHover {
	background: orange;
}

div.ui-draggable-dragging {
	border: 1px solid grey;
	color: white;
	background: orange;
	padding: 3px;
}

#newTask-container {
	border: 1px solid #CCC;
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding: 0.5em; 
}

input.textField {
	outline: none;
	border: 1px solid #CCC;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
}

table.tasks {
	width: 100%;
}

	
table.tasks > tbody > tr:hover {
	background-color: #d2ebf9;
}

table.tasks > tbody > tr.selected {
	font-weight: bold;
}

table.tasks > tbody > tr:nth-child(odd) {
	background-color: #F5F5F5;
}

table.tasks > tbody > tr:nth-child(odd):hover {
	background-color: #d2ebf9;
}

table.tasks > tbody > tr.updatedTask {
	background-color: orange;
}

table.tasks > tbody > tr.addedTask {
	background-color: green;
}

table.tasks > tbody > tr > td {
	border-top: 1px solid #CCC;
	vertical-align: top;
}

table.tasks > tbody > tr > td.column0 {
	width: 80%;
	padding-left: 0.5em;
	border-right: 1px solid #CCC;
}
table.tasks > tbody > tr > td.column1 {
	width: 20%;
	text-align: right;
	padding-right: 0.5em;
}
#details > .headline {
	font-weight: bold;
}

/* background-colors and Borders */
#content {
	border: 1px solid #CCC;
	background-color: white;
}

#header {
	border-bottom: 1px solid #CCC;
}

#details_container {
	background-color: #F0F0F0;
}

div.tasklist {
	border: 1px solid #CCC;
	border-top-width: 0px;
}